ul {
    padding-left: 1.5rem;
  }

h1 {
    text-align:center;
}

h5 {
    text-align:center;
}

img {
    margin-left: 17.2rem;
}

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

/* div.css-1kyxreq.etr89bj0{
      background-color:#EEEEEE;
      border: 1px solid #DCDCDC;
      padding: 20px 20px 20px 70px;
      padding: 5% 5% 5% 10%;
      border-radius: 10px;
} */

/* .row {
    display: flex;
    justify-content: center;
  }

.image {
    display: flex;
    justify-content: center;
} */